@media (min-width: 576px) { 
    .divprueba{
        height: 300px;
        background: red;
    }
 }

 
@media (min-width: 768px) { 
    .divprueba{
        height: 300px;
        background: blue;
        
    }

}


@media (min-width: 992px) { 
    .divprueba{
        height: 300px;
        background: pink;
    }

 }


@media (min-width: 1200px) { 
    .divprueba{
        height: 300px;
        background: black};
    }

 }